#make-username-form {
  width: 100%;
}
#make-username-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  width: 100%;
}

#make-username-field {
  height: 50%;
  width: 100%;
}
