.menu-link {
  height: 50px;
}

.menu-link-button {
  background-color: white;
  outline: none;
  border: none;
  font-size: 1rem;
}

@media (max-width: 640px) {
  .menu-link {
    height: 45px;
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (max-height: 560px) {
  .menu-link {
    height: 40px;
    font-size: 0.8rem;
  }
}
