.pagination-button {
  background-color: white;
  outline: none;
  border: none;
  padding: 0 5px;
  margin: 0 5px;
  transition: transform 0.3s;
}

.pagination-button:hover {
  text-decoration: underline;
  font-weight: bolder;
  border-bottom: 4px solid #00264d;
}

@media (max-width: 640px) {
  .pagination-button:hover {
    text-decoration: none;
    font-weight: normal;
    border: none;
  }

  .pagination-button:active {
    text-decoration: underline;
    font-weight: bolder;
    border-bottom: 4px solid #00264d;
  }
}

@media (max-height: 560px) {
  .pagination-button:hover {
    text-decoration: none;
    font-weight: normal;
    border: none;
  }

  .pagination-button:active {
    text-decoration: underline;
    font-weight: bolder;
    border-bottom: 4px solid #00264d;
  }
}
