* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #00264d;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
}

button {
  cursor: pointer;
}

@media (max-width: 640px) {
  body {
    padding: 0 4%;
  }
}

@media (max-height: 540px) {
  body {
    padding: 2% 0;
  }
}
