.shell {
  /* background-color: red; */
  /* border: 1px solid black; */
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .shell {
    padding: 0 15px;
    width: 100%;
    margin: 0;
    border: 1px solid black;
  }
}

@media (max-height: 540px) {
  .shell {
    padding: 15px 0;
    width: 100%;
  }
}
